<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="../assets/DB.jpg">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="http://champion.gg/">Champion.GG</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://developer.riotgames.com/">RIOT API</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://PornHub.com">A funny Gif</a></h2>
  </li>
</ul>
